<form>
    <div class="form-group">
        <label for="characterId">Character Id</label>
        <input type="number" class="form-control" id="characterId">
    </div>

    <div class="form-group">
        <label for="characterName">Character Name</label>
        <input type="text" class="form-control" id="characterName" required>
    </div>

    <div class="form-group">
        <label for="creationDate">Creation Date</label>
        <input type="date" class="form-control" id="creationDate" required>
    </div>

    <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" required>
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>

    <div class="form-group">
        <label for="characterType">Character Type</label>
        <select class="form-control" id="characterType" required>
        <option>Adult</option>
        <option>Kid</option>
      </select>
    </div>

    <div class="form-group">
        <label for="age">Character Age</label>
        <input type="number" max='100' class="form-control" id="age" required>
    </div>

    <div class="form-group">
        <label for="height"> Height( Head to Feet ) cm</label>
        <input type="number" max='250' class="form-control" id="height" required>
    </div>

    <div class="form-group">
        <label for="height1"> Height( Shoulder to Heel ) cm</label>
        <input type="number" max='250' class="form-control" id="height1" required>
    </div>

    <div class="form-group">
        <label for="height3"> Height( Shoulder to Hip ) cm</label>
        <input type="number" max='250' class="form-control" id="height3" required>
    </div>

    <div class="form-group">
        <label for="legLength"> leg Length cm</label>
        <input type="number" max='250' class="form-control" id="legLength" required>
    </div>

    <div class="form-group">
        <label for="sleeveLength"> Sleeve Length cm</label>
        <input type="number" max='250' class="form-control" id="sleeveLength" required>
    </div>

    <div class="form-group">
        <label for="chest"> Chest cm</label>
        <input type="number" max='250' class="form-control" id="chest" required>
    </div>

    <div class="form-group">
        <label for="west"> West cm</label>
        <input type="number" max='250' class="form-control" id="west" required>
    </div>

    <div class="form-group">
        <label for="neck"> Neck cm</label>
        <input type="number" max='250' class="form-control" id="neck" required>
    </div>

    <div class="form-group">
        <label for="skinColor">Skin Color</label>
        <select class="form-control" id="skinColor" required>
        <option>White</option>
        <option>Dark</option>
      </select>
    </div>

    <div class="form-group">
        <label for="hairColor">Hair Color</label>
        <select class="form-control" id="hairColor" required>
        <option>Black</option>
        <option>Brown</option>
        <option>Gold</option>
      </select>
    </div>

    <div class="form-group">
        <label for="eyeColor">Eye Color</label>
        <select class="form-control" id="eyeColor" required>
        <option>Black</option>
        <option>Brown</option>
        <option>Blue</option>
        <option>Green</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>